.welcome_message{
    font-size: 33px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    line-height: 55px;
    position:fixed;
}

#welcome_container{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.firefly_container{
    display: inline block;
    margin-left: 500px;
    position: fixed;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

#login_container{
    background-color: #DBDAED;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15vh;
    border-radius: 40px;
    width: 45vw;
    padding: 20px;
    margin-bottom: 40px;
}

.button {
    border: none;
    color: black;
    background-color: #9695D9;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 8px 10px;
    border-radius: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(255, 255, 255);
    color: lightskyblue;
}

.button_container {
    background-color:#DBDAED;
    padding:25px;
    position:relative;
    width: 550px;
    height: 200px;
    border:none;
    border-radius: 20px;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}

.landDiv img {
    width:100%;
    height:auto;
    position:fixed;
    left:0;
    bottom:0px;
}
