#card6{
    margin-top: 190vh;
    height: 110%;
    width: 100%;
    /* background-color: #9695D9; */
    position: absolute;
}

#card5{
    margin-top: 95vh;
    height: 110%;
    width: 100%;
    position: absolute;
}

.chatbox{
    width: 600px;
    height:70vh;
    position: relative;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    border-top: 2px solid gray;

}

.message{
    max-width: 450px;
    width: auto;
    height: auto;
    background-color: #EFEEF6;
    border-radius: 20px;
    margin-left:90px;
    margin-top: 10px;
    padding: 5px 15px 8px 15px;
}

.message_profile{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 10px;
}

.message_bar{
    border-radius: 25px;
    background-color: #EFEEF6;
    margin-top: 20px;
    height: 45px;
    padding-top: 10px;
    padding-left: 15px;
    color: #A5A0C2;
    width: 550px;
}

.profile{
    margin-left: 20px;
    position:absolute;
    bottom: 0;
    width: 4vw;
    height: 4vw;
}

.profile_text{
    font-size: 17px;
}

.welcome_message{
    font-size: 33px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    line-height: 55px;
    position: fixed;
}

.thank_you_message{
    font-size: 33px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    line-height: 55px;
    position: absolute;
}

.thank_you_icon{
    width: 12%;
    height: 22%;
    position: absolute;
    border-radius: 50%;
    top:43vh;
    border: 8px solid #8886CB;
}

.thank_you{
    font-family: 'Just Another Hand', cursive;
    font-size: 80px;
}

.cloud1{
    position: absolute;
    width: 30%;
    height: 30%;
    top: 10vh;
    animation-name: cloud;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.cloud2{
    position: absolute;
    width: 30%;
    height: 30%;
    top: 25vh;
    animation-duration: 45s;
    animation-name: cloud;
    animation-iteration-count: infinite;
    margin-left: -500px;
    animation-delay: 30s;
    animation-timing-function: linear;
}

.cloud3{
    position: absolute;
    width: 15%;
    height: 15%;
    top: 30vh;
    animation-duration: 45s;
    animation-name: cloud;
    animation-iteration-count: infinite;
    margin-left: -500px;
    animation-delay: 10s;
    animation-timing-function: linear;
}

.cloud4{
    position: absolute;
    top: 54vh;
    animation-duration: 50s;
    animation-name: cloud;
    animation-iteration-count: infinite;
    margin-left: -500px;
    animation-delay: 20s;
    animation-timing-function: linear;
}

.cloud5{
    position: absolute;
    top: 65vh;
    animation-duration: 30s;
    animation-name: cloud;
    animation-iteration-count: infinite;
    margin-left: -500px;
    animation-delay: 38s;
    animation-timing-function: linear;
}

.cloud6{
    position: absolute;
    top: 70vh;
    animation-duration: 48s;
    animation-name: cloud;
    animation-iteration-count: infinite;
    margin-left: -500px;
    animation-delay: 40s;
    animation-timing-function: linear;
}

#welcome_container{
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.firefly_container {
    display: inline block;
    margin-left: 500px;
    position: fixed;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#login_container {
    background-color: #DBDAED;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15vh;
    border-radius: 40px;
    width: 45vw;
    padding: 20px;
    margin-bottom: 20px;
    position: fixed;
    top: 20vh;
}

input[type=text],
input[type=password] {
    width: 80%;
    margin-left: 55px;
    margin-top: 15px;
    padding: 8px 16px;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    border-radius: 15px;
    font-family: 'Inter', sans-serif;
}

.buttons {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    width: 170px;
    border: none;
    color: black;
    background-color: #9695D9;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 8px 10px;
    border-radius: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(255, 255, 255);
    color: lightskyblue;
}

#login {
    background-color: #9695D9;
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 150px;
    margin: 15px;
}

#login:hover {
    background-color: #8886CB;
}

#signup {
    background-color: #9695D9;
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 150px;
    margin: 15px;
}

#landscape img {
    width: 100vw;
    height: auto;
    position: fixed;
    left: 0;
    bottom: 0px;
}

#header-component {
    background-color: #9695D9;
    width: 100%; 
    position: sticky;
}

.nav-link {
    color: white
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #6C6BC2
}

.nav-pills {
    align-items: left;
}

.grass{
    width:100%;
    position: fixed;
    top: 75vh;
}

#incorrect_credentials {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    left: 0;
    right: 0;
    display: none;

}

@keyframes cloud{
    from{
        margin-left: -400px;
    }

    to{
        margin-left: 100%;
    }
}